@page "/help"

<PageTitle>YMS</PageTitle>

<div class="section">
    <h2>Description</h2>
    <p>
        This service fetches your yandex music liked tracks and makes
        some statistics over them like average duration, genre and
        country breakdown. Authorization is handled through third party
        service to drop any privacy and security concerns. This project 
        is <a href="https://github.com/kosenk0andrey/yandex-music-stats">open source</a>.
    </p>
</div>
<div class="section">
    <h2>How to get token</h2>
    <p>
        Yandex music token can be acquared with one of this methods:
        <ol>
            <li>Authorization through <a href="https://music-yandex-bot.ru/">website</a>.</li>
            <li>Android app: <a href="https://github.com/MarshalX/yandex-music-token/releases">APK file</a>.</li>
            <li>Google Chrome <a href="https://chrome.google.com/webstore/detail/yandex-music-token/lcbjeookjibfhjjopieifgjnhlegmkib">extension</a>.</li>
            <li>Mozilla Firefox <a href="https://addons.mozilla.org/en-US/firefox/addon/yandex-music-token/">extension</a>.</li>
        </ol>
        They all let you copy your yandex music token after short
        authorization. Some of them work, some of them - not so much,
        don't give up after first failure. Each of them is open source.
    </p>
</div>
