.section {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    width: 100%;
}
.section > input {
    border: 2px solid #070707;
    border-radius: 6px;
    margin-right: 0.5rem;
    padding: 1px;
    width: 80%;
}
.section > button {
    border: none;
    border-radius: 12px;
    height: 2rem;
    width: 7rem;
}

@media (max-width: 800px) {
    .section {
        flex-direction: column;
        margin-top: 0.8rem;
    }
    .section > input {
        width: 100%;
    }
    .section > button {
        margin: auto;
        margin-top: 15px;
    }
}
